.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 700;
    transition: .3s;
    cursor: pointer;
    border: none;
}

.btn--primary {
    background-color: var(--first-color);
    color: var(--white-color);
}

.btn--primary:hover {
    background-color: var(--first-color-alt);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn--outline {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

.btn--outline:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}

.btn--secondary {
    background-color: transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
}

.btn--secondary:hover {
    background-color: var(--white-color);
    color: var(--text-color);
}