.features__grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding-bottom: 2rem;
}

.feature {
    text-align: center;
    padding: 2rem;
    background: var(--container-color);
    border-radius: 1rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    transition: .3s;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature__icon {
    font-size: 2.5rem;
    color: var(--first-color);
    margin-bottom: 1rem;
}

.feature__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}